.BMI {
  margin-top: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.BMI .BMI__leftSide {
  width: 50%;
  padding-left: 2rem;
  margin: auto;
}

.BMI .BMI__leftSide p {
  color: var(--text_color_light);
  font-size: .8rem;
  margin: .7rem 0 .5rem 0;
}

.BMI .BMI__leftSide form {
  display: flex;
  flex-direction: column;
}

.BMI .BMI__leftSide form .inputs {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.BMI .BMI__leftSide form .inputs .Forminput {
  position: relative;
}

.BMI .BMI__leftSide form .inputs .Forminput input {
  border: 2px solid var(--heavy__green);
  padding: .8rem 1rem;
  outline: none;
  background-color: transparent;
  color: var(--heavy__green);
}

.BMI .BMI__leftSide form .inputs .Forminput p {
  position: absolute;
  right: 7%;
  top: 10%;
  transform: translateY(-10%);
  color: var(--white);
}

.BMI .BMI__leftSide form button {
  background-color: var(--heavy__green);
  outline: none;
  border: 1px solid var(--white);
  margin-top: 2rem;
  padding: 1rem;
  color: var(--white);
  cursor: pointer;
}

.BMI .BMI__leftSide form h3 {
  text-align: center;
  color: var(--heavy__green);
  margin-top: 20px;
}

.BMI .BMI__rightSide {
  width: 50%;
  display: flex;
  justify-content: center;
}

.BMI .BMI__rightSide img {
  width: 50%;
}
