.pricing {
  margin-top: 5rem;
}

.pricing .package__planes {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 3rem;
}

.pricing .package__planes .package {
  width: 22%;
  padding: 2rem 2rem;
  background-color: var(--title_color_black);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.pricing .package__planes .package:hover {
  transform: scale(1.05);
}

.pricing .package__planes .package .imgPackage {
  background-color: var(--first_color_gray);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pricing .package__planes .package .imgPackage img {
  width: 70%;
}

.pricing .package__planes .package h3 {
  color: var(--text_color_light);
  margin: 0.8rem 0;
}

.pricing .package__planes .package h2 {
  color: var(--white);
  margin-bottom: 0.8rem;
  font-size: 2rem;
}

.pricing .package__planes .package .features {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.pricing .package__planes .package .features p {
  color: var(--text_color);
  font-size: .7rem;
  display: flex;
  align-items: center;
  column-gap: .5rem;
  margin-top: 0.5rem;
}

.pricing .package__planes .package .buttonPackage {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.pricing .package__planes .package .buttonPackage button {
  border: none;
  outline: none;
  padding: 0.5rem 0.9rem;
  border: var(--light__green) 2px solid;
  background-color: transparent;
  color: var(--white);
  cursor: pointer;
}

.pricing .package__planes .premiumPackage {
  transform: scale(1.1);
  background-color: var(--heavy__green);
}

.pricing .package__planes .premiumPackage:hover {
  transform: scale(1.1);
}

.pricing .package__planes .premiumPackage h3 {
  color: var(--body__color);
}

.pricing .package__planes .premiumPackage h2 {
  color: var(--title_color_black);
}

.pricing .package__planes .premiumPackage .features p {
  color: var(--dead__green);
}

.pricing .package__planes .premiumPackage .buttonPackage button {
  border: var(--black) 2px solid;
  color: var(--black);
}
