.activities {
  margin-top: 2rem;
}

.activities .activity_types {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
}

.activities .activity_types .type {
  width: 30%;
  margin-top: 50px;
  background-color: var(--title_color_black);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 5px;
  padding: 2rem;
  cursor: pointer;
}

.activities .activity_types .type div {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: var(--dead__green);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.activities .activity_types .type img {
  width: 60%;
}

.activities .activity_types .type h4 {
  color: var(--white);
  margin-top: 15px;
}

.activities .activity_types .type p {
  margin-top: 15px;
  color: var(--text_color_light);
}

.activities .activity_types .type:hover {
  background-color: var(--main__green);
}

.activities .activity_types .type:hover h4 {
  color: var(--black);
}

.activities .activity_types .type:hover p {
  color: var(--light_black);
}
